body {
  /*  Reset margin and sets a clean sans-serif font. */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  /* Give the title a pinkish color. */
  color: #df3ca6;
}

.navbar-brand img {
  /* Set logo size and spacing. */
  width: 30px;
  margin-right: 10px;
}

.btn {
  /* Increase font size for all buttons */
  font-size: 15px;
  /* Bootstrap’s button classes (btn, btn-danger, btn-sm) handle color, size, padding, etc */
}

.sr-only {
  /* Keep the element accessible to screen readers 
     Make it invisible on the screen to users who don’t rely on assistive tech
  */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* override Bootstrap’s default button colors */
.btn-primary, .bg-primary {
  background-color: #df3ca6 !important; /* !important: ensures your styles override Bootstrap’s built-in ones */
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

/* Add space between button icon and label */
.icon {
  margin-right: 5px;
}
